<h1 style="text-align: center;">Ng-simple-autocomplete</h1>
<h3>Basic</h3>

<ng-simple-autocomplete
    [placeholder]="placeholder"
    [sourceArray]="data"
    [fieldNameFormatter]="returnFieldFromObject"
    (onSelect)="selectedObject($event)">
</ng-simple-autocomplete>

<h3>Multi Select</h3>
<ng-simple-autocomplete
    [placeholder]="placeholder"
    [sourceArray]="data"
    [fieldNameFormatter]="returnFieldFromObject"
    (onSelect)="selectedObject($event)"
    [multiSelect]="true">
</ng-simple-autocomplete>
