.ng-simple-autocomplete {
    width: 40%;
}
.ng-simple-autocomplete > input[type='text'] {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    width: 500px;
    padding: 10px;
}
.ng-simple-autocomplete > ul {
    border: 1px solid blue;
    padding: 0;
    list-style-type: none;
    margin: 0 !important;
    width: 519px;
    padding-right: 1px;
    line-height: 1.2rem;
    transition: max-height 0.5s, overflow 0s;
    max-height: 200px;
    overflow-y: scroll
}
.ng-simple-autocomplete > ul > li:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.active-item {
    background-color: blue;
    color: white;
    cursor: pointer;
}
/* for multiSelect featrue */
.ng-simple-autocomplete >.multiSelectMain{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    width: 520px;
    
}
.ng-simple-autocomplete >.multiSelectMain > span > input[type='text']{
    border: none;
    padding: 10px;
    width: 104px;
}
.ng-simple-autocomplete >.multiSelectMain > span> input[type='text']:focus{
    outline: none;
}
.multiSeletedItem{
    margin: 3px;
    padding: 3px;
    background-color:#6c6cce;
    color: #fff;
    border-radius: 10px;
}
.auto-complete-icon {
    background-image: url(../../icons/close.png);
    background-repeat: no-repeat;
    height: 18px;
    display: inline-block;
    width: 18px;
    vertical-align: text-bottom;
    background-size: 100%;
    cursor: pointer;
}